In [1]:
#importing python modules/libraries
import pandas as pd
import numpy as nump
from sklearn.metrics import accuracy_score
from sklearn.model_selection import train_test_split

In [2]:
def cleaning(df):  
    print("Here we check how many NAN we have:\n",df.isnull().sum())  #counting how many NAN we have in each attribute
    print("The total number of each attribut are:\n",df.count())  #counting total number of each attribute
    df.dropna(inplace=True)  #removing NAN value rows from dataframe and again checking number of NAN rows in dataframe
    print("Here we'll see the number of NAN we have (should be 0 for each attribute):\n",df.isnull().sum())  #Here we'll see the number of NAN we have (should be 0 for each attribute)
    print("Now we'll see the total number of each attribute after we deleted the NAN rows:\n",df.count())  #Now we'll see the total number of each attribute after we deleted the NAN rows
    df.info()   #printing information of dataframe-should be non-null for each attribute
    print(df.age.unique())    #checking Age ranges
    df.describe()    #table of special calculations
    print(df['country'].unique())   #checking country names
    print("Total Countries: ",len(df['country'].unique()))
    print("Total number of population of world and suicides per year\n",df.groupby(['year']).sum())  #total number of population of world and suicides per year
    return df

In [3]:
def handeling_data():
    df=pd.read_csv(r"C:\Users\aviv\Downloads\who_suicide_statistics.csv")
    df=cleaning(df)
    df.to_excel('Suicide_Statistics.xlsx',engine='xlsxwriter')
    return df

df=handeling_data()

Here we check how many NAN we have:
 country           0
year              0
sex               0
age               0
suicides_no    2256
population     5460
dtype: int64
The total number of each attribut are:
 country        43776
year           43776
sex            43776
age            43776
suicides_no    41520
population     38316
dtype: int64
Here we'll see the number of NAN we have (should be 0 for each attribute):
 country        0
year           0
sex            0
age            0
suicides_no    0
population     0
dtype: int64
Now we'll see the total number of each attribute after we deleted the NAN rows:
 country        36060
year           36060
sex            36060
age            36060
suicides_no    36060
population     36060
dtype: int64
<class 'pandas.core.frame.DataFrame'>
Int64Index: 36060 entries, 24 to 43763
Data columns (total 6 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   country      36060 non-null  object
 1   year         36060 non-null  int64
 2   sex          36060 non-null  object
 3   age          36060 non-null  object
 4   suicides_no  36060 non-null  float64
 5   population   36060 non-null  float64
dtypes: float64(2), int64(1), object(3)
memory usage: 1.9+ MB
['15-24 years' '25-34 years' '35-54 years' '5-14 years' '55-74 years'
 '75+ years']
['Albania' 'Antigua and Barbuda' 'Argentina' 'Armenia' 'Aruba' 'Australia'
 'Austria' 'Azerbaijan' 'Bahamas' 'Bahrain' 'Barbados' 'Belarus' 'Belgium'
 'Belize' 'Bermuda' 'Bosnia and Herzegovina' 'Brazil' 'Brunei Darussalam'
 'Bulgaria' 'Cabo Verde' 'Canada' 'Cayman Islands' 'Chile' 'Colombia'
 'Costa Rica' 'Croatia' 'Cuba' 'Cyprus' 'Czech Republic' 'Denmark'
 'Dominica' 'Ecuador' 'Egypt' 'El Salvador' 'Estonia' 'Fiji' 'Finland'
 'France' 'French Guiana' 'Georgia' 'Germany' 'Greece' 'Grenada'
 'Guadeloupe' 'Guatemala' 'Guyana' 'Hong Kong SAR' 'Hungary' 'Iceland'
 'Iran (Islamic Rep of)' 'Ireland' 'Israel' 'Italy' 'Jamaica' 'Japan'
 'Kazakhstan' 'Kiribati' 'Kuwait' 'Kyrgyzstan' 'Latvia' 'Lithuania'
 'Luxembourg' 'Macau' 'Maldives' 'Malta' 'Martinique' 'Mauritius'
 'Mayotte' 'Mexico' 'Mongolia' 'Montenegro' 'Netherlands' 'New Zealand'
 'Nicaragua' 'Norway' 'Oman' 'Panama' 'Paraguay' 'Philippines' 'Poland'
 'Portugal' 'Puerto Rico' 'Qatar' 'Republic of Korea'
 'Republic of Moldova' 'Reunion' 'Rodrigues' 'Romania'
 'Russian Federation' 'Saint Kitts and Nevis' 'Saint Lucia'
 'Saint Vincent and Grenadines' 'San Marino' 'Sao Tome and Principe'
 'Serbia' 'Seychelles' 'Singapore' 'Slovakia' 'Slovenia' 'South Africa'
 'Spain' 'Sri Lanka' 'Suriname' 'Sweden' 'Switzerland' 'TFYR Macedonia'
 'Thailand' 'Trinidad and Tobago' 'Turkey' 'Turkmenistan' 'Ukraine'
 'United Arab Emirates' 'United Kingdom' 'United States of America'
 'Uruguay' 'Uzbekistan' 'Venezuela (Bolivarian Republic of)'
 'Virgin Islands (USA)']
Total Countries:  118
Total number of population of world and suicides per year
       suicides_no    population
year
1979      92790.0  8.225891e+08
1980     153400.0  1.086858e+09
1981     177705.0  1.179065e+09
1982     182435.0  1.186361e+09
1983     122166.0  9.901033e+08
1984     124264.0  1.021228e+09
1985     197115.0  1.330094e+09
1986     188684.0  1.363476e+09
1987     185757.0  1.425995e+09
1988     180726.0  1.343231e+09
1989     185356.0  1.381879e+09
1990     204043.0  1.520325e+09
1991     204236.0  1.518960e+09
1992     218446.0  1.612096e+09
1993     228951.0  1.573515e+09
1994     239869.0  1.592434e+09
1995     245203.0  1.603185e+09
1996     249451.0  1.694326e+09
1997     243263.0  1.735086e+09
1998     252324.0  1.757836e+09
1999     258989.0  1.809551e+09
2000     258808.0  1.895363e+09
2001     254036.0  1.854263e+09
2002     259376.0  1.922587e+09
2003     259336.0  1.940607e+09
2004     244196.0  1.844049e+09
2005     237556.0  1.835405e+09
2006     236400.0  1.943062e+09
2007     236179.0  1.963480e+09
2008     238239.0  1.967225e+09
2009     246323.0  2.089017e+09
2010     241523.0  2.111980e+09
2011     239048.0  2.110164e+09
2012     232834.0  2.031251e+09
2013     228340.0  2.081241e+09
2014     227235.0  2.073398e+09
2015     207627.0  1.936995e+09
2016      16238.0  1.535649e+08